
.all-bugs-body-wrapper-undefined {
    display:flex;
    flex-direction: row;

    margin-left: 15vw;
    margin-right: 15vw;

}

.all-bugs-body-wrapper-defined {
    display:flex;
    flex-direction: row;

    margin: 10px;
}

.all-bugs-wrapper-undefined {
    width: 100%;
}

.all-bugs-wrapper-defined {
    width: 40%;
}

.search-wrapper {
    width: 100%;
    margin-bottom: 10px;

    padding: 0;
}

.search-wrapper input {
    width: 100%;

    background-color: rgb(87, 106, 119);

    border-radius: 8px;
    box-sizing: border-box;

    border-radius: 8px; 
    border: 3px solid #44515A;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-right: 0;
    padding-left: 0;

    margin: 0;

    color: white;
    text-align: center;
}

.search-wrapper input::placeholder {
    color:white;
}